{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "commonjs": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "jsx-a11y/media-has-caption": [
      2,
      {
        "audio": [
          "Audio"
        ],
        "video": [
          "Video"
        ],
        "track": [
          "Track"
        ]
      }
    ]
  }
}